<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<form action="./result" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="age" placeholder="age">
    <input type="submit" value="送信！">
</form>