<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>サンプル</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"></link>
  </head>
  <body>
      <h1このページのタイトルは><%= title %>です！</h1>

      <ul>
        <li>name<%= name %></li>
        <li>auther者：<%= age %></li>
      </ul>
  </body>
</html>
